main {
    flex: 1;
    margin-left: 350px;
}

main ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}

li.notepad-infos div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

li.notepad-infos {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px 20px 10px 20px;
}

li.notepad-infos strong {
    display: block;
    font-size: 16px;
    color: #333;
}

li.notepad-infos div div {
    color: #ffaee6;
    cursor: pointer;
}

li.notepad-infos div div:hover {
    color: #eb8f7a;
    transition: 0.2s;
}

li.notepad-infos textarea {
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color: #666;
    border: 0;
    background: #fff;
    resize: none;
}

li.notepad-info span {
    color: #c4c4c4;
    cursor: pointer;
}

li.notepad-info span:hover {
    color: #eb8f7a;
    transition: 0.2s;
}